[project]
	description = cm12 based rom for oneplus one
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/goatimus
[access "refs/for/refs/*"]
	read = group user/goatimus
	push = group user/goatimus
	label-Code-Review = -2..+2 group user/goatimus
	label-Verified = -1..+1 group user/goatimus
	rebase = group user/goatimus
	removeReviewer = group user/goatimus
	submit = group user/goatimus
[access "refs/heads/*"]
	read = group user/goatimus
	create = group user/goatimus
	push = +force group user/goatimus
	pushMerge = group user/goatimus
[access "refs/tags/*"]
	push = +force group user/goatimus
	pushTag = group user/goatimus
	pushSignedTag = group user/goatimus
